<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="case2.iths.com.QuizGame">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_brain_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_brain_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".HighScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HandleStatementsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoryWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SinglePlayerActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiplayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateStatementActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditStatementActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AmountOfStatementsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CountdownSplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateProfileActivity"
            android:noHistory="true" />
        <activity android:name=".Data.JSONTask"></activity>
    </application>

</manifest>